# general things to ignore
build/
dist/
docs/_sources/
docs/.doctrees
*.egg-info/
*.egg
*.py[cod]
__pycache__/
*.so
*~

# virtualenv
env/
venv/

# codecov / coverage
.coverage
cov_*

# due to using tox and pytest
.tox
.cache
.pytest_cache/
.python-version
pip