<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta
      http-equiv="Content-Type"
      content="text/html; charset={{ encoding }}"
    />
    {{
      metatags
    }}

    {%- block htmltitle %}
    <title>{{ title|striptags|e + " &mdash; "|safe + project|e }}</title>
    {%- endblock %} {%- macro css() %}
    <link
      href="https://a.slack-edge.com/4f227/style/rollup-slack_kit_legacy_adapters.css"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://a.slack-edge.com/3e02c0/style/rollup-api_site.css"
      rel="stylesheet"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="{{ pathto('./_static/' + 'default.css', 1) }}"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="{{ pathto('./_static/' + 'pygments.css', 1) }}"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="{{ pathto('./_static/' + 'docs.css', 1) }}"
      type="text/css"
    />
    {%- endmacro %}

    <!-- Google Tag Manager -->
    <script>
      (function(w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({
          'gtm.start': new Date().getTime(),
          event: 'gtm.js'
        });
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != 'dataLayer' ? '&l=' + l : '';
        j.async = true;
        j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
        f.parentNode.insertBefore(j, f);
      })(window, document, 'script', 'dataLayer', 'GTM-KFZ5MK7');
    </script>
    <!-- End Google Tag Manager -->
    {{
      css()
    }}
    {%- block linktags %}
    <link
      id="favicon"
      rel="shortcut icon"
      href="https://a.slack-edge.com/4f28/img/icons/favicon-32.png"
      type="image/png"
    />
    <link
      rel="top"
      title="{{ docstitle | e }}"
      href="{{ pathto(master_doc) }}"
    />
    {%- endblock %}
  </head>

  <body class="api light_theme">
    <!-- Google Tag Manager (noscript) -->
    <noscript
      ><iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-KFZ5MK7"
        height="0"
        width="0"
        style="display:none;visibility:hidden"
      ></iframe
    ></noscript>
    <!-- End Google Tag Manager (noscript) -->

    {%- block header %}
    <header>
      <a id="menu_toggle" class="no_transition show_on_mobile">
        <span class="menu_icon"></span>
        <span class="vert_divider"></span>
      </a>
      <a
        href="https://api.slack.com/"
        id="header_logo"
        class="api hide_on_mobile"
        style="float:left; display: inline-block;"
      >
        <img
          alt="Slack API"
          src="https://a.slack-edge.com/3026cb/img/slack_api_logo_vogue.png"
          style="width: 225px; padding-right: 25px; border-right: 1px solid #DDD;"
        />
      </a>
      <span
        style="display: inline-block; padding-left: 20px; margin-top: 25px; font-weight: bold;"
      >
        <a style="color: #555459;" href="./index.html">{{ project }}</a>
      </span>
      <div class="header_nav">
        <a
          href="https://github.com/SlackAPI/python-slackclient"
          class="btn header_btn float_right"
          data-qa="go_to_slack"
          >Go to GitHub</a
        >
      </div>
    </header>
    {% endblock %}

    <div id="page">
      <div id="page_contents" class="clearfix">
        <!-- Sidebar Content -->
        <nav id="api_nav" class="col span_1_of_4">
          <div id="api_sections">
            {% block sidebar %} {% include 'sidebar.html' %} {% endblock %}
          </div>
        </nav>
        <!-- /Sidebar Content -->

        <!-- Body Content -->
        <div class="col span_3_of_4">
          <!-- <div class="section-title">{{ title }}</div> -->
          <div class="card">
            {%- block body %}
            {{ body }}
            {% endblock %}
            <div class="clear_both large_bottom_margin"></div>
          </div>
        </div>
        <!-- /Body Content -->
      </div>
    </div>

    <footer>
      <p class="light tiny align_center">
        © 2019 Slack Technologies, Inc. and contributors
      </p>
    </footer>

    <script>
      window.ga =
        window.ga ||
        function() {
          (ga.q = ga.q || []).push(arguments);
        };
      ga.l = +new Date();
      ga('create', 'UA-56978219-13', 'auto');
      ga('send', 'pageview');
    </script>
    <script async src="https://www.google-analytics.com/analytics.js"></script>
  </body>
</html>
