# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions
name: CI Build

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-20.04
    timeout-minutes: 10
    strategy:
      matrix:
        python-version: ['3.6', '3.7', '3.8', '3.9']
    env:
      PYTHON_SLACK_SDK_MOCK_SERVER_MODE: 'threading'
      CI_UNSTABLE_TESTS_SKIP_ENABLED: '1'
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        pip install -U pip wheel
        pip install -e ".[testing]"
        pip install -e ".[optional]"
    - name: Run validation
      run: |
        python setup.py validate
    - name: Run codecov (only 3.9)
      run: |
        python_version=`python -V`
        if [ ${python_version:7:3} == "3.9" ]; then
          codecov -e ${python_version:7}
        fi
