name: pytype validation

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 20
    strategy:
      matrix:
        python-version: ['3.9']
    steps:
    - uses: actions/checkout@v3
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        pip install -U pip
        pip install -e ".[testing]"
        pip install -e ".[optional]"
        # As pytype can change its behavior in newer versions, we manually upgrade it
        pip install "pytype==2023.9.11"
    - name: Run pytype
      run: |
        pytype slack_sdk/
